/* ORIGINAL COLOR */
$red: #e50914;
$black: #000;

/* COLOR VARIABLE */
$primary: $red;

/* TEXT */
$text-cl: $black;
$fsz-max: 500;
$fsz: 16;
$fsz-min: $fsz * 0.875;

/* RESPONSIVE */
$grid-breakpoints: (
	// Extra small screen / phone
	xs: 360px,
	// Small screen / phone
	sm: 576px,
	// Medium screen / tablet
	md: 768px,
	// Large screen / desktop
	lg: 992px,
	// Extra large screen / wide desktop
	xl: 1200px,
	// Extra large screen / wide desktop
	xxl: 1600px
);

$grid-breakpoints-max-widths: (
	// Extra small screen / phone
	xs: 359px,
	// Small screen / phone
	sm: 575px,
	// Medium screen / tablet
	md: 767px,
	// Large screen / desktop
	lg: 991px,
	// Extra large screen / wide desktop
	xl: 1199px,
	// Extra large screen / wide desktop
	xxl: 1599px
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1366px,
);

$container-max-width: 1930px;
